*{
	font-family: $mainFont;
	color:$mainFontColor;
	font-size: $mainFontSize;
	font-weight: $mainFontWeight;
	line-height: $mainLineHeight;
}

::-webkit-scrollbar {
	width: 6px;
}

::-webkit-scrollbar-track {
	background: $primary-color; 
}

::-webkit-scrollbar-thumb {
	background: $accent-color; 
}

::-webkit-scrollbar-thumb:hover {
	background: $accent-color; 
}


h1{
	font-weight: 700;
	font-size: 82px;
}

h2{
	font-weight: 600;
	font-size: 56px;
}

h3{
	font-weight: 400;
	font-size: 42px;
	
}

h4{
	font-weight: 400;
	font-size: 34px;
}

h5{
	font-size: 26px;
	font-weight: 400;	
}


.mtitle{
	font-weight: 600;
	font-size: 22px;
}

.mbig{
	font-weight: 400;
	font-size: 20px;
}


.msmall{
	font-size: 14px;
	font-weight: 400;
}

.mtip{
	font-size: 10px;
	font-weight: 400;
}

.btntext{
	font-size: 16px;
	font-weight: 600;
}

.v-window__next{
	right: 0;
}