<template>
    <nav class="navbar">

        <div class="navbar__item"  v-for="(item,index) in items" :key="index">
            <nuxt-link :to="item.to" class="navbar__item-link" v-html="item.title"></nuxt-link>
        </div>

    </nav>
</template>

<script>
    export default {
        name:'NavBar',
        props:{
            items:{
                type:Array,
                required:false,
                default:()=>[]
            },
        }
    }
</script>

<style lang="scss" scoped>

</style>