// Font
$mainFont                : 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// Size
$mainFontColor           : #000;
$accentFontColor         : #3D42D6;
$mainFontSize            : 16px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$xlDesktopWidth          : 1920.98px;
$lDesktopWidth           : 1600.98px;
$desktopWidth            : 1366.98px;
$smDesktopWidth          : 1024.98px;
$tableWidth              : 768.98px;
$phoneWidth              : 480.98px;
$smPhoneWidth            : 320.98px;

// Main color
$primary-color           : #191a1f;
$default-color           : #2F3B57;
$seconday-color          : #8991A3;
$accent-color            : #3D42D6;

$success-color           : #5BDB9E;
$danger-color            : #FF2B2B;
$warning-color           : #F0B459;
$disabled-color          : #DCDBDB;

// Neutral Color
$neutral-primary         : #303133;
$neutral-accent          : #fafafa;
$neutral-regular         : #606266;
$neutral-secondary       : #D1D1D1;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #D3DFFF;
$border-active           : #EDF2FF;
$dropdown-color          : #EEEEF2;

// Links
$linkColor               : #000;
$accentLinkColor         : #3D42D6;
$disabledLinkColor       : #DCDBDB;