<template>
    <div>
        Albums
    </div>
</template>

<script>
    export default {
		head(){
			return {
				title:'Все альбомы'
			}
		},
		transition: {
			name: 'fade',
			mode: 'out-in'
		},
        
    }
</script>

<style lang="scss" scoped>

</style>