<template>
	<div>
		<nav-bar :items="menu" />
		<Nuxt />
	</div>
</template>

<script>
	import NavBar from '~/components/layout/NavBar.vue'

	import {
		mapState
	} from 'vuex'

	export default {
		components:{
			NavBar,
		},
		head(){
			return {
					//  title template for all pages. And other titles on other pages will place instead of %s
					titleTemplate:'%s - Микроблог',
					meta:[
						{
						hid:'Описание',
						name:'Описание',
						content:'Проекта микроблога',
						}
					]
			}
		},
		computed:mapState({
			menu: state => state.menu.menu
		}),
	}
</script>

<style>
	
</style>
