<template>
    <div>
        Photos
    </div>
</template>

<script>
    export default {
		head(){
			return {
				title:'Все фотографии'
			}
		},
		transition: {
			name: 'fade',
			mode: 'out-in'
		},
        
    }
</script>

<style lang="scss" scoped>

</style>