<template>
	<div>
		<div class="container-fluid">
			<div class="row">

				<div class="col-12">
					<v-carousel height="75vh">
						<v-carousel-item
						v-for="(photo,i) in photos"
						:key="i"
						:src="photo.download_url"
						reverse-transition="fade-transition"
						transition="fade-transition"
						></v-carousel-item>
					</v-carousel>
				</div>

				<div class="col-12">
					<h1>posts</h1>
					{{posts}}

				</div>

			</div>

		</div>
	</div>
</template>

<script>
	import {
		mapState
	} from 'vuex'

	export default {
		head(){
			return {
				title:'Главная страница'
			}
		},
		async fetch({store,error}){
			try{
				await store.dispatch('photos/fetchPhotos')
			}
			catch(e){
				error({
					statusCode:503,
					message:'Невозможно загрузить фотографии',
				})
			}

			try{
				await store.dispatch('posts/fetchPosts')
			}
			catch(e){
				error({
					statusCode:503,
					message:'Невозможно загрузить посты',
				})
			}
		},

		computed:mapState({
			photos:state => state.photos.photos,
			posts:state => state.posts.posts,
		}),
		
		transition: {
			name: 'fade-enter',
			mode: 'out-in'
		},
	}
</script>

<style></style>
