.navbar{
    position: relative;

    padding:20px 30px;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;

    &__item{

        &-link{
            color:$linkColor;

            transition: all .4s ease-in-out;
        }

        &-link:hover, &-link:focus, &-link.nuxt-link-active{
            color:#fff;
            background-color: $accent-color;
        }
    }



}